<h2 class="headlong">New Post</h2>
<div class="form">
<%= form_for :post, method: 'post', url: {action: 'create'} do |f| %>
  <%= label(:post, :title) %>
  <%= f.text_field :title %>
  <br> 
  <%= label(:post, :body) %>
  <%= f.text_field :body %>
  <br> 

  <%= f.submit "Create" %>
<% end %>
</div>